

.flex{

    display: flex;
    justify-content: space-around;
    width: 60%;
    margin:0 auto;
    margin-top:10% ;
   
}


ol li {

    font-size: 25px;
}



.mode{

    margin-bottom: 20px;
}


.article{

  padding-top: 10%;
  margin:0 auto;
  width: 22%;
}



.hide{

    display: none;
  
}

.size{

  width: 40px;
  margin: 10px;
 
}

.admin{

   width: 35%;
    margin: 0 auto;
    margin-top: 10%;

}

.operation{

    width: 18%;
    margin: 0 auto;
    margin-top: 10%;
}

.delete{

    width: 20%;
    margin: 0 auto;
    margin-top: 10%;
    
}

.text{

    text-align: center;
}


