

.flex{

    display: flex;
    justify-content: space-around;
    width: 60%;
    margin:0 auto;
    margin-top:10% ;
   
}


ol li {

    font-size: 25px;
}









.hide{

    display: none;
  
}

.sizerrrr{

  width: 40px;
  margin: 10px;
 
}